<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container-sm p-3">
    <!-- [Optional] Flash message handler -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <!-- The popup message-->
        {{ msg }}
        <!-- Close button -->
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
    <!-- Nav Bar -->
    <nav class="navbar navbar-light bg-light p-3">
        <a class="navbar-brand" href="#">
            <img src="/img/red_panda_icon.jpg" style="width: 50px; height: 50px" class="d-inline-block align-top" alt="icon">
            <h1>Welcome</h1>
        </a>
        <a href="{{ url_for('clear_session') }}" class="btn btn-outline-primary">Clear History</a>
    </nav>
    <!-- Main content -->
    <div class="card">
        <div class="card-header"><h3>{%  block title %}{% endblock %}</h3></div>
        <div class="card-body">
            {% block content %}{% endblock %}
        </div>
        <div class="card-footer"><h5>Copyright 2025</h5></div>
    </div>
</div>
<script src="/js/bootstrap.js"></script>
</body>
</html>

